<div class="aside bg-dark box-shadow-lg" role="menu">
  <div class="p-lg" ng-click="$hide()">
    <a ui-sref="mail.inbox" class="p-lg bg-info item inline m-xs">
      <i class="icon glyphicon glyphicon-envelope text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">Email</span>
    </a>
    <a ui-sref="ui.component.arrow" class="p-lg bg-primary item inline m-xs">
      <i class="icon glyphicon glyphicon-briefcase text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">UI Kits</span>
    </a>
    <a ui-sref="page.blank" class="p-lg bg-success item inline m-xs">
      <i class="icon glyphicon glyphicon-file text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">Pages</span>
    </a>
    <a ui-sref="ui.map.google" class="p-lg bg-warning item inline m-xs">
      <i class="icon glyphicon glyphicon-map-marker text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">Map</span>
    </a>
    <a ui-sref="ui.form.file-upload" class="p-lg bg-danger item inline m-xs">
      <i class="icon glyphicon glyphicon-cloud text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">Drive</span>
    </a>
    <a ui-sref="ui.map.vector" class="p-lg bg-inverse item inline m-xs">
      <i class="icon glyphicon glyphicon-usd text-2x"></i>
      <span class="p-xs p-h-sm bottom text-xs hidden-xs">Market</span>
    </a>
  </div>
</div>