<nav ui-nav>
  <ul class="nav">
    <li class="nav-header h4 m-v-sm">
      Pages
    </li>
    <li ui-sref-active="active">
      <a ui-sref="page.profile">
        <span>Profile</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="page.settings">
        <span>Settings</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="page.blank">
        <span>Blank</span>
      </a>
    </li>
    <li>
      <a ui-sref="signin">
        <span>Sign In</span>
      </a>
    </li>
    <li>
      <a ui-sref="signup">
        <span>Sign Up</span>
      </a>
    </li>
    <li>
      <a ui-sref="forgot-password">
        <span>Forgot Password</span>
      </a>
    </li>
    <li>
      <a ui-sref="lockme">
        <span>Lockme Screen</span>
      </a>
    </li>
    <li>
      <a ui-sref="404">
        <span>Error 404</span>
      </a>
    </li>
    <li>
      <a ui-sref="505">
        <span>Error 505</span>
      </a>
    </li>
  </ul>
</nav>