<nav ui-nav>
  <div class="p p-v-md hidden-aside-top">
    <a href="#" class="btn btn-sm btn-addon btn-success"><i class="fa fa-plus fa-fw"></i> Compose</a>
  </div>
  <ul class="nav nav-stacked nav-pills m-h-sm">
    <li class="nav-header text-muted text-xs">
      Folders
    </li>
    <li>
      <a ui-sref="mail.dashboard">
        <b class="label rounded bg-info pull-right">130</b>
        <i class="glyphicon glyphicon-inbox text-lt"></i>
        <span class="font-bold">Inbox</span>
      </a>
    </li>
    <li>
      <a ui-sref="app.calendar">
        <i class="glyphicon glyphicon-send text-lt"></i>
        <span class="font-bold">Sent Mail</span>
      </a>
    </li>
    <li>
      <a ui-sref="app.calendar">
        <i class="glyphicon glyphicon-bookmark text-lt"></i>
        <span class="font-bold">Bookmarked</span>
      </a>
    </li>
    <li>
      <a ui-sref="app.mail.list">
        <b class="label rounded bg-info pull-right">9</b>
        <i class="glyphicon glyphicon-edit text-lt"></i>
        <span class="font-bold">Draft</span>
      </a>
    </li>
    <li>
      <a ui-sref="app.mail.list">
        <i class="glyphicon glyphicon-trash text-lt"></i>
        <span class="font-bold">Trash</span>
      </a>
    </li>
    <li>
      <div class="line bg m-h-sm"></div>
    </li>
    <li class="nav-header text-muted text-xs">
      Labels
    </li>
    <li>
      <a href>
        <i class="fa fa-circle-o text-info-dk"></i> Github
      </a>
    </li>
    <li>
      <a href>
        <i class="fa fa-circle-o text-success-dk"></i> Facebook
      </a>
    </li>
    <li>
      <a href>
        <i class="fa fa-circle-o text-lt"></i> Youtube
      </a>
    </li>
  </ul>
</nav>