<div class="p bg-white text-xs">
  <div class="pull-right hidden-xs hidden-sm text-muted">
    <strong>{{app.name}}</strong> - Built with AngularJS &amp; Bootstrap  &copy; Copyright 2014
  </div>
  <ul class="list-inline no-margin text-center-xs">
    <script type="text/ng-template" id="lang">
      <ul class="dropdown-menu">
        <li ng-repeat="(langKey, label) in langs">
          <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
        </li>
      </ul>
    </script>
    <li>
      <a bs-dropdown="dropdown" data-placement="top-left" data-animation="am-flip-x" data-template="lang">{{selectLang}}</a>
    </li>
    <li class="text-muted">-</li>
    <li>
      <a ui-sref="page.document">Documents</a>
    </li>
    <li class="text-muted">-</li>    
    <li>
      <a href="javascript:;" target="_blank">Purchase</a>
    </li>
  </ul>
</div>