  <!-- header -->
  <header id="header" ng-include=" 'views/header.html' " class="app-header navbar {{app.settings.headerColor}}" role="menu">
  </header>
  <!-- / header -->

  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs {{app.settings.asideColor}}" ng-class="{'show animated fadeInLeft' : app.asideCollapse}" ng-include="'views/aside.html'">
  </aside>
  <!-- / aside -->
  
  <!-- content -->
  <div id="content" class="app-content" role="main" ui-view>
  </div>
  <!-- / content -->

  <!-- footer -->
  <footer id="footer" class="app-footer" role="footer" ng-include="'views/footer.html'">
  </footer>
  <!-- / footer -->