<div class="p-h-md p-v bg-white box-shadow pos-rlt">
  <h3 class="no-margin">Profile</h3>
</div>
<div class="box">
  <div class="col-md-3">
    <div style="background:url(images/a0.jpg) center center; background-size:cover">
      <div class="p-lg bg-white-opacity text-center">
        <a href class="w-xs inline">
          <img src="images/a0.jpg" class="img-circle img-responsive">
        </a>
        <div class="m-b m-t-sm h2">
          <span class="text-black">David M.</span>
        </div>
        <a href class="btn btn-sm btn-info m-b p-h">Follow</a>
        <p>
          I am designing something.
        </p>
      </div>
    </div>
    <div class="text-center b-b b-light">
      <a href class="m-b-md inline m text-color">
        <span class="h3 block font-bold">221</span>
        <em class="text-xs">Followers</em>
      </a>
      <a href class="m-b-md inline m text-color">
        <span class="h3 block font-bold">250</span>
        <em class="text-xs">Following</em>
      </a>
    </div>      
    <div class="p">
      <p>About</p>
      <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
      <div class="m-v">
        <a class="text-muted">
          <i class="fa ui-icon fa-facebook"></i>
        </a>
        <a class="text-muted">
          <i class="fa ui-icon fa-twitter"></i>
        </a>
        <a class="text-muted">
          <i class="fa ui-icon fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="list-group no-radius no-border">
      <a class="list-group-item">
        <span class="pull-right badge">12</span> Messages
      </a>
      <a class="list-group-item">
        <span class="pull-right badge">23</span> Photos
      </a>
      <a class="list-group-item">
        <span class="pull-right badge">564</span> Posts
      </a>
    </div>
  </div>
  <div class="col-md-9 bg-white b-l bg-auto">
    <div class="p bg-light">
      <div class="panel no-border no-margin">
        <form>
          <textarea class="form-control no-border" rows="3" placeholder="Write something..."></textarea>
        </form>
        <div class="lt p">
          <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>
            <li><a href><i class="fa fa-video-camera"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="p-h bg-white b-b b-light">
      <ul class="nav nav-lines nav-md b-info">
        <li class="active"><a href>Stream</a></li>
        <li><a href>Photos <span class="badge">3</span></a></li>
        <li><a href>Posts <span class="badge">9</span></a></li>
      </ul>
    </div>
    <div class="p-h-lg">      
      <div class="streamline b-l p-v m-l-xs m-b">
        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a2.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>James</a> said
              <span class="text-muted block text-xs">
                Just now
              </span>
            </div>
            <div class="m-b">
              <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Oscar</a> upload a file
              <span class="text-muted block text-xs">
                3 minutes ago
              </span>
            </div>
            <div class="m-b">
              <div class="w-xl w-auto-xs">
                <div class="box bg-light">
                  <div class="box-col w-xs text-center dk p-md v-m">
                    <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                  </div>
                  <div class="box-col p">
                    <a href>Geuismod tincidunt</a>
                    <div>Diam nonummy nibh euismod tincidunt ut laoreet. </div>
                  </div>
                </div>
              </div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Anny</a> post a photo
              <span class="text-muted block text-xs">
                6 minutes ago
              </span>
            </div>
            <div class="m-b">
              <div><img src="images/a10.jpg" class="b p-xs"></div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Michel</a> post a comment
              <span class="text-muted block text-xs">
                10 minutes ago
              </span>
            </div>
            <div class="m-b bg-light">
              <div class="p-sm b-b">
                <img src="images/a4.jpg" class="rounded w-thumb-xs pull-left m-r-sm" alt="...">
                <a href>Tony</a> liked it
              </div>
              <div class="p-sm">
                <img src="images/a6.jpg" class="rounded w-thumb-xs pull-left m-r-sm" alt="...">
                <a href>Anney</a> Commented it
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>