<div class="p-h-md p-v bg-white box-shadow pos-rlt">
  <h3 class="no-margin">Panels</h3>
</div>
<div class="p-md">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-light">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-a">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-light">
        <div class="panel-heading b-b b-light">
          Heading
        </div>
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-info">
        <div class="panel-heading b-b b-light">
          Heading
        </div>
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-success">
        <div class="panel-heading b-b b-light">
          Heading
        </div>
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          Heading
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer b-t b-light bg-white">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel b-primary">
        <div class="panel-heading b-light">
          Panel heading
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer bg-white">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Panel default
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Panel primary
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          Panel info
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          Panel success
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Panel warning
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          Panel danger
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-dark">
        <div class="panel-heading">
          Panel dark
        </div>
        <div class="panel-body">
          Panel Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary b-t-4x">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-info b-t-4x">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success b-t-4x">
        <div class="panel-body">
          Panel Body
        </div>
      </div>
    </div>
  </div>
</div>